* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----------------------- */
/* nav */
nav {
    height: 80px;
    
    background-color: #2284fd;
}

a {
    text-decoration: none;
    color: white;
}
.cont-nav {
    width: 80%;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cont-nav ul {
    list-style-type: none;

    display: flex;
    gap: 25px;

    display: none;
}

.nav-dx {
    display: flex;
    color: white;
}

.fa-bars {
    cursor: pointer;
    font-size: 30px;
}

.butt-decor-nav {
    background-color: white;
    border-radius: 25px;
    padding: 0.5em 1em;
    color: black;
}

/* nav */
/* ----------------------- */